<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>components</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/home/components/grid-layout']" routerLinkActive="router-link-active">
          Grid Layout
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button [routerLink]="['/actionsheet']" routerLinkActive="router-link-active">Action Sheet</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>