
ion-grid {
    // --ion-grid-padding: 20px;
    // --ion-grid-column-padding: 15px;
    border: 1px solid green;
    height: 100%
}

ion-row {
    border: 1px solid red;
}

ion-col {
    border: 1px solid black;
}
